@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic%22");
@import url("https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css");
@import url("https://use.fontawesome.com/releases/v5.2.0/css/all.css");
.project-not-found {
    font-size: 18px;
    color: red;
  }
  
  .container-details {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto; /* Установите вертикальный отступ сверху/снизу в 50px и горизонтальный отступ auto */
    max-width: 90%; /* Задайте максимальную ширину контейнера */
    width: 100%; /* Сделайте контейнер шириной 100% от доступной ширины */
    padding: 50px; /* Установите внутренние отступы, чтобы уменьшить разрыв */
  }
  
 
  .project-details {
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%; /* Фиксированная ширина */
    max-width: 1000px; /* Максимальная ширина для больших экранов */
    margin: 0 auto; /* Центрирование блока */
}

  
  
/* Стили для мобильных устройств */
/* Стили для мобильных устройств */
@media (max-width: 768px) {
  .container-details {
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      border-radius: 10px;
      padding: 30px 0 0 0;
  }

  .project-list {
      order: 0; /* Устанавливаем порядок 0, чтобы список отобразился сверху */
      margin-bottom: 20px;
      width: 100%;
  }

  .project-details {
      max-width: 100%;
  }
}

  
  
  .project-heading {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .project-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .project-description {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .project-link {
    display: inline-block;
    background-color: #044883;
    color: #fff;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 3px;
    font-weight: bold;
  }
  
  .project-link:hover {
    color: #fff;
    background-color: #0056b3;

  }
  




  .toggle-container {
    padding: 10px 0 0 0;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.toggle-label {
    margin-right: 10px;
}


.toggle-label.light {
    color: #000;
}

.toggle-button {
    position: relative;
    width: 50px;
    height: 25px;
    background-color: #ccc;
    border-radius: 25px;
    cursor: pointer;
}

.toggle-button.dark {
    background-color: #0056b3;
}

.toggle-circle {
    position: absolute;
    top: 50%;
    left: 2px;
    transform: translate(0, -50%);
    width: 21px;
    height: 21px;
    background-color: #fff;
    border-radius: 50%;
    transition: transform 0.3s;
}

.toggle-circle.dark {
    background-color: #fff;
    transform: translate(25px, -50%);
}
